# Gradle
.gradle/
build/

# Local config
local.properties

# Android Studio / IntelliJ
.idea/
*.iml

# macOS
.DS_Store

# Native build
.externalNativeBuild/
.cxx/

# Captures
captures/

# Keystore
*.jks
*.keystore

# Logs
*.log